.root.root {
  text-align: center;
  background: var(--color-dark-temp);
  color: var(--color-light-temp);
  font-size: var(--font-size-m);
}

.link {
  color: var(--color-light-temp);
}

.icon {
  vertical-align: text-bottom;
}

.text {
  display: block;

  text-align: left;
  font-size: var(--font-size-m);
}
